{% comment %}
The following variables can/should be passed in
- page_title
- site_title
- description
- head (any other head elements)
- url (absolute path to the url of the page)
- thumbnail (absolute path)
{% endcomment %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>{{ include.page_title }}{% if page.title %} - {% endif %}{{ include.site_title | default: 'Sunbird' }}</title>

	<meta name="keywords" content="{% if include.ios_keywords != "true" and include.android_keywords != "true" %}{{ include.keywords | default: 'Learn, Collaborate, Contribute, Open Source, Movement' }}{% endif %}{% if include.ios_keywords == "true" %}{{ include.ios_keywords }}{% endif %}{% if include.android_keywords == "true" %}{{ include.android_keywords }}{% endif %}" />
	<meta name="description" content="{% if include.ios_description != "true" and include.android_description != "true" %}{{ include.description | default: 'Sunbird Meta Desc' }}{% endif %}{% if include.ios_description == "true" %}{{ include.ios_description }}{% endif %}{% if include.android_description == "true" %}{{ include.android_description }}{% endif %}" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-16x16.png" sizes="16x16">

	<meta name="msapplication-TileColor" content="#65d3f7">
	<meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">

	<!-- Open Graph tags -->
	<meta property="og:title" content="{% if include.page_title %}{{ include.page_title }} - {% endif %}{{ include.site_title | default: 'Sunbird' }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{site.baseurl}}{{ include.url }}" />
	<meta property="og:image" content="{{site.baseurl}}/img/og_image.png" />
	<meta property="og:description" content="{% if include.ios_description != "true" and include.android_description != "true" %}{{ include.description | default: 'Sunbird' }}{% endif %}{% if include.ios_description == "true" %}{{ include.ios_description }}{% endif %}{% if include.android_description == "true" %}{{ include.android_description }}{% endif %}" />

	<!-- Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@sunbird" />
	<meta name="twitter:title" content="{% if page.ogtitle %}{{ page.ogtitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ 'Sunbird' }}{% endif %}" />
	<meta name="twitter:description" content="{% if include.ios_description != "true" and include.android_description != "true" %}{{ include.description | default: 'Sunbird' }}{% endif %}{% if include.ios_description == "true" %}{{ include.ios_description }}{% endif %}{% if include.android_description == "true" %}{{ include.android_description }}{% endif %}" />
	<meta name="twitter:image" content="{{site.baseurl}}/img/og_image.png" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/all.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/owl/owl.carousel.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />

	{{ include.head }}
	{% include trackers.html %}
</head>
