---
---
<!DOCTYPE html>
<html>
	{% include head.html %}
  <body>
	  {% include header.html %}
    <div class="aboutpage fill-height inner__content fixed-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>About Sunbird</h1>
						<p>In the context of education, learning outcomes are a result of concerted, coordinated efforts by the government, multiple organizations and individuals. Traditionally, even slight improvements require a multi-year, multi-stakeholder, open, iterative and collaborative commitment from participating stakeholders. The advent of technology in education has significantly improved learning outcomes. Sunbird, utilizes the power of technology with the objective of improving teaching and learning outcomes. It leverages internet and social collaboration technologies for use cases unique to India and other developing nations. It supports multiple languages and is available for online and offline use.</p>
						<p>Sunbird is an open, configurable, modular learning platform designed to support multiple teaching and learning solutions. It raises the denominator for the edtech industry by providing well designed building blocks for education solutions. This accelerates and amplifies the development of new solutions for the education domain. Adopting organizations can re-purpose and extend functionality to suit their individual context.</p>
						<p>Sunbird’s uniqueness lies in its focus on well architected common building blocks that can be orchestrated to create multiple solutions without a need to build from scratch. The architecture also allows for re-use of common infrastructure components such as taxonomy, frameworks, classroom efficiency tools, content assets and machine learning insights. &nbsp; <a href="#" class="readMore">Show more...</a></p>
						<div class="more-text" style="display:none;">
						<p>Typical users of the platform are learners, instructors, mentors, content providers, researchers and administrators who converge to achieve better learning outcomes.</p>
						<p>Sunbird covers the followin broad feature areas:</p>
						<ul>
							<li>Courses, trainings, lesson plans and assessments</li>
							<li>Resources for use by practitioners and  professionals</li>
							<li>Dashboards for progress and assessment</li>
							<li>Student and  practitioner profile and registry services</li>
							<li>Communities of practice for collaboration and discussions</li>
							<li>Announcements, notifications and circulars</li>
							
						</ul>
						<p><a class="readLess">Show less ...</a></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}
	<script>
	$(document).ready(function(){
		$(".readMore").click(function(){
			$(".more-text").slideDown('slow','swing');
			$(".readMore").addClass("hide");
		});
		$(".readLess").click(function(){
			$(".more-text").slideUp('slow','swing');
			$(".readMore").removeClass("hide");
		});
		
		
	});
	
	</script>
  </body>
</html>
