---
---
<!DOCTYPE html>
<html>
	
	{% webasset head page_title='{{page.page_title}}' android_page_title='{{page.android_page_title}}' ios_page_title='{{page.ios_page_title}}' keywords='{{page.keywords}}' android_keywords='{{page.android_keywords}}' ios_keywords='{{page.ios_keywords}}' ios='{{page.ios}}' android='{{page.android}}' description='{{page.description}}' ios_description='{{page.ios_description}}' android_description='{{page.android_description}}' site_title='Sunbird Documentation' url='{{site.base_url}}{{page.url}}' %}

  <body>
	  {% include header.html %}
    <div class="docspage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-sm-6 col-md-4">
							<a href="/architecture" class="homepage-section">
								<h3 class="homepage-section__title">Architecture</h3>
								<!--<p class="homepage-section__content">Some desc will be added here soon.</p>-->
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/developer-docs/" class="homepage-section">
								<h3 class="homepage-section__title">Developer Docs</h3>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/features-documentation/" class="homepage-section">
								<h3 class="homepage-section__title">Product Features</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
