---
---
<!DOCTYPE html>
<html>
	
	{% include head.html %}

  <body>
	  {% include header.html %}
    <div class="featurespage fill-height inner__content fixed-content">
		<div class="container main">
			<div class="row">
				<div class="col-xs-12">
					<h1>Features</h1>
					<p>The extensive functionality offered by Sunbird can be broadly categorized into its technical functional features. Since the aim of the project is to involve people, form communities and increase the spread of education in India, it is easy to build, manage, contribute and view resources from the portal.</p>
					<p><strong>Technical Features:</strong></p>
					<ul>
						<li>Opensource</li>
						<li>Robust, scalable and extensible framework and infrastructure</li>
						<li>Available on the Cloud</li>
						<li> Easily configurable</li>
						<li>Multilingual enabled</li>
						<li>Easy for administration</li>
						<li> Easy to manage</li>
						<li>Data analytics </li>
					</ul>
					<p><strong>Functional Features:</strong></p>
					<ul>
						<li>Simple, secure user management</li>
						<li>Collaboration interfaces for co-creation and partnership</li>
						<li>Easy, flexible course structure definition</li>
						<li>Flexible, configurable and interactive content editor</li>
						<li>Configurable content creation, plugin and templates</li>
						<li>Multilingual Support</li>
						<li>Offline Support</li>
						<li>Tool and resource library</li>
						<li>Member registry</li>
						<li>Reports</li>
						<li> Ability to build user and organization assessment and accreditation</li>
						<li>Create simple gamification features </li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
  </body>

</html>
