
<footer class="footer">
	<div class="footer__top">
		<div class="container">

			<div class="col-md-4 col-sm-12 col-md-offset-1">
				<div class="testimonials owl-carousel">
					<div class="testimonial">
						<div class="testimonial_quote"><q>It's such a seamless integration into our workflow. For me, that's the best part. It's a natural thing for us to be using.</q></div>
						<div class="testimonial_person">Karen Callahan</div>
						<div class="testimonial_org">Pratham Books</div>
					</div>
					<div class="testimonial">
						<div class="testimonial_quote"><q>It's such a seamless integration into our workflow. For me, that's the best part. It's a natural thing for us to be using.</q></div>
						<div class="testimonial_person">Karen Callahan</div>
						<div class="testimonial_org">Pratham Books</div>
					</div>
					<div class="testimonial">
						<div class="testimonial_quote"><q>It's such a seamless integration into our workflow. For me, that's the best part. It's a natural thing for us to be using.</q></div>
						<div class="testimonial_person">Karen Callahan</div>
						<div class="testimonial_org">Pratham Books</div>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-6 sideline">
				<ul>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/about/">About Us</a></li>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/contact/">Contact Us</a></li>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/terms-conditions/">Terms & Conditions</a></li>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/data-privacy/">Data Privacy</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-6 sideline">
				<ul>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/docs">Documentation</a></li>
					<li><a href="{{ include.branch_base | default: 'https://sunbird.org' }}/features">Features</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-12 sideline">
				<!--<div class="power_cover">
					<div class="platform">Societal <br />Platform</div>
					<div class="poweredBy">POWERED BY <br /> Ekstep FOUNDATION</div>
				</div>-->
				<div class="social-icons">
					<a href="" title="Facebook" class="social-icon"><i class="fa fa-facebook"></i></a>
					<a href="" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>
					<a href="" title="Linkedin" class="social-icon"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>



		</div>
	</div>
</footer>


<script type="text/javascript">
PlatformActions.loadDefaulted({
	defaulted: '{{ page.default }}',
	current_platform: '{{ page.platform }}'
});
$('.owl-carousel').owlCarousel({
    loop:true,
    nav:false,
    dots:true,
    items:1,
	autoplay:true,
	autoplayTimeout:2000,
	autoplayHoverPause:true
    
});
</script>
